body {
  font-family: DejaVu Sans Mono, monospace;
  font-weight: 100;
  min-height: 300px;
  background-image: url("https://i.pinimg.com/564x/c0/9d/27/c09d27810c0d3ecdcdb49b3d9fe9b8b0.jpg");
  background-color: #000000;
  background-size: 130vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #cfcfcf;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

h2 {
  color: #ffffff;
  font-size: 30px;
}
